
BillstoreServices/Services/appsettings.json
CustomerApp/Benoit.YBS.App/Benoit.YBS.App.Android/bin/
CustomerApp/Benoit.YBS.App/Benoit.YBS.App.Android/obj
CustomerApp/Benoit.YBS.App/Benoit.YBS.App.MobileAppService/bin/
CustomerApp/Benoit.YBS.App/Benoit.YBS.App.MobileAppService/obj/
CustomerApp/Benoit.YBS.App/Benoit.YBS.App/obj/
CustomerApp/Benoit.YBS.UiReference/obj/
CustomerApp/Benoit.YBS.App/Benoit.YBS.App.iOS/obj/
CustomerApp/Benoit.YBS.UiReference/bin/Debug/
CustomerApp/.vs/
